extends ../layout

block content
  .panel.panel-default
    .panel-heading
      .panel-title= item.title
      .tags
        each tagName, index in item.tags
          span.label.label-default= tagName
      if user && user.id === item.owner.id
        .creator
          span= item.owner.loginId + 'が' + item.createAt + 'に投稿'
          span.owner-menu
            button#edit.btn.btn-success.btn-xs 編集
          span.owner-menu
            button#remove.btn.btn-danger.btn-xs 削除
      else
        .creator= item.owner.loginId + 'が' + item.createAt + 'に投稿'
    .panel-body!= item.body
  hr
  #reply-list
    span.glyphicon.glyphicon-comment
    strong コメント一覧
    #reply-detail
  hr
  if user
    .reply
      .form-group
        textarea(rows=5, placeholder='コメントを入力して下さい')#reply-body.form-control.span6
        button#register.btn.btn-success 投稿する
  else
    .reply
      | コメントするにはログインしてね

  script.
    $(function () {
      $.ajax({
        type: 'GET',
        url: '/items/reply/list',
        data: 'itemId=#{item.id}',
        success: function (data, textStatus, jqXHR) {
          var template = '';
          for (var i = 0; i < data.length; i++) {
            var comment = data[i];
            template += '<div class="panel panel-default"><div class="panel-body">' +
            '<img src="' + comment.creator.avatarUrl + '" width="32px" height="32px">' + comment.creator.loginId + ' wrote <br>' +
            comment.body +
            '</div></div>';
          }
          $('#reply-detail').html(template);
        },
        error: function (data) {
          console.error(data);
        }
      });
    });
  if user
    script.
      $(function () {
        $('#edit').click(function (e) {
          location.href = '/items/#{item.id}/edit';
        });
        $('#remove').click(function (e) {
          if (confirm('削除していい?')) {

          }
        });
        $('#register').click(function (e) {
          e.preventDefault();
          var body = $('#reply-body').val();
          var data = {
            itemId: '#{item.id}',
            body: body
          };
          $.ajax({
            type: 'POST',
            url: '/items/reply',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data, textStatus, jqXHR) {
              $('#reply-body').val('');
              var template = '<div class="panel panel-default"><div class="panel-body">' +
                '<img src="#{user.avatarUrl}" width="32px" height="32px"> #{user.loginId} wrote <br>' + body + '</div></div>';
              $('#reply-detail').prepend(template);
            },
            error: function (data) {
              console.error(data);
            }
          });
        });
      });
